<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([

      ['Item Prices in USD', <%= @pcd.lowest  %>, <%= @pcd.low_q %>, <%= @pcd.high_q  %>, <%= @pcd.highest  %>]
      // Treat first row as data as well.
    ], true);

    var options = {
      legend:'none'
    };

    var chart = new google.visualization.CandlestickChart(document.getElementById('item_price_candle_stick'));

    chart.draw(data, options);
  }
    </script>
<div id="item_price_candle_stick"></div>
