<div id="discount-statistics">
  <%= render partial: "/dashboard/discounts/order_item_quantities_chart" %>
  <%= render partial: "/dashboard/discounts/discount_card", locals: { discount: @discount } %>

</div>
